html {
    box-sizing: border-box;
}

#container{
    width: 399px;
    display: flex;
    flex-direction: column;
}

#screen {
    display: flex;
    margin-bottom: 3px;
    width: 100%;
    height: 125px;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
}

#fullScreen {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 102%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#eqDisplay {
    display: flex;
    flex-wrap: wrap;
    color: rgba(44, 44, 44, 0.815);
    font-size:large;
    width: 100%;
    height: 24.5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#numDisplay {
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: 75%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

#clearBut {
    width: 25%;
    height: 102%;
    background-color: whitesmoke;
    font-size: larger;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#clearBut:hover {
    background-color: lightblue;
}

#btnContainer {
    display: flex;
    flex-direction: row;
}

#numpad {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.numpadBut {
    background-color: whitesmoke;
    font-size: larger;
    width: 33%;
    height: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.numpadBut:hover {
    background-color: lightblue;
}

#actionPad {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 502px;
}

#actionBut1,
#actionBut2, 
#actionBut3, 
#actionBut4,
#actionBut5 {
    background-color: whitesmoke;
    font-size: larger;
    width: 100%;
}

#actionBut1:hover, 
#actionBut2:hover, 
#actionBut3:hover, 
#actionBut4:hover,
#actionBut5:hover {    
    background-color: lightblue;
}
